@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);

  /* Градиент */
  --background-main-gradient: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38%, #5C24FF 75%, #D94FD5 100%);

  --color-brand-black: #020202;
}

:root {
  background: #020202;
  color: #ffffff;
}

body {
  /*  Inter  */
  font-family: var(--font-inter), sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link-style {
  font-family: var(--font-inter), sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: -0.08em !important;
  line-height: 1 !important;
  text-transform: none !important;
  display: inline-block;
  transition: opacity 0.2s ease;
}

.nav-link-style:hover {
  opacity: 0.6;
}
